/*全站首页*/
/*首页内容开始*/
.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(50, 52, 58, 0.8);
}

.hot {
    background-color: rgba(50, 52, 58, 0.8);
    margin-top: 10px;
    height: 370px;
}

/*首页轮播图开始*/
.wrapper .hot .slide_fade {
    width: 800px;
    height: 350px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.wrapper .slide_fade .box {
    width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.wrapper .slide_fade .box .list {
    display: inline-block;
    overflow: hidden;
    z-index: 999;
}

.wrapper .slide_fade .box .list li {
    display: none;
    overflow: hidden;

}

.wrapper .slide_fade .box .list .active {
    display: inline-block;
}

.wrapper .slide_fade .box .list li a img {
    width: 800px;
    height: 350px;
}

.wrapper .slide_fade .btn {
    position: absolute;
    width: 800px;
    height: 40px;
    z-index: 5;
    left: 0;
    bottom: 0;
}

.wrapper .slide_fade .btn li {

}

.wrapper .slide_fade .btn li a {
    color: #dcdcdc;
    text-align: center;
    font-size: 14px;
    float: left;
    height: 40px;
    width: 160px;
    line-height: 40px;
    background: url("../images/header_infobg.png");
}

.wrapper .slide_fade .btn li.select a {
    background: #22b857;
}

/*首页轮播图结束*/
/*首页新闻开始*/
.wrapper .hot .news {
    width: 350px;
    height: 350px;
    margin-right: 10px;
    position: relative;
}

.wrapper .hot .news .news-top {
    position: relative;
    height: 36px;
    line-height: 36px;
    border-bottom: 4px solid #ebecec;
    padding-right: 36px;
}

.wrapper .hot .news .news-top li.current {
    border-bottom: 4px solid #22b857;
}

.wrapper .hot .news .news-top ul {
    position: relative;
}

.wrapper .hot .news .news-top li {
    float: left;
    color: #dcdcdc;
    border-bottom: #fff;
    font-size: 17px;
    width: 78px;
    text-align: center;
    cursor: pointer;
}

.wrapper .hot .news .news-top a {
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -999em;
    overflow: hidden;
    width: 36px;
    height: 36px;
    background: url("../images/more.png");
}

.wrapper .hot .news .news-list {
    height: 298px;

}

.wrapper .hot .news .news-list .news-content {
    position: relative;
    display: none;
}

.wrapper .hot .news .news-list .active {
    display: block;
}

.wrapper .hot .news .news-list .news-content li {
    height: 30px;
    line-height: 30px;
    padding: 3px 0;
}

.wrapper .hot .news .news-list .news-content li.first {
    height: 46px;
    line-height: 46px;
    padding: 0;
    margin-bottom: 5px;
}

.wrapper .hot .news .news-list .news-content li.first a {
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    font-weight: bold;
    color: #22b857;
    padding: 0;
}

.wrapper .hot .news .news-list .news-content li:hover .news-type {
    color: #fff;
}

.wrapper .hot .news .news-list .news-content li:hover a {
    color: #22b857;
}

.wrapper .hot .news .news-list .news-content li:hover .date {
    color: #22b857;
}

.wrapper .hot .news .news-list .news-content li a {
    display: block;
    position: relative;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding: 0 55px;
    color: #dcdcdc;
}

.wrapper .hot .news .news-list .news-content li a .news-type {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    width: 46px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.wrapper .hot .news .news-list .news-content li a .news-type-news {
    background: #22b857;
    border: 2px solid #22b857;
}

.wrapper .hot .news .news-list .news-content li a .news-type-video {
    background: #d63008;
    border: 2px solid #d63008;
}

.wrapper .hot .news .news-list .news-content li a .news-type-notice {
    background: #ffaa00;
    border: 2px solid #ffaa00;
}

.wrapper .hot .news .news-list .news-content li a .date {
    position: absolute;
    top: 0;
    right: 0;
    color: #a4a4a4;
}

/*首页新闻结束*/
/*首页直播开始*/
.live {
    padding-top: 20px;
    background-color: rgba(50, 52, 58, 0.8);
    min-height:60px;
}

.live-title {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #dddddd;
}

.live-title b {
    padding-left: 60px;
    background: url("../images/live.png") no-repeat 0 50%;
    color: #fff;
    font-size: 24px;
    float: left;
    font-weight: 400;
    border-bottom: 1px solid #22b857;
    margin-left: 5px;;
}

.live-title .live-title-nav {
    position: relative;
    margin-left: 20px;

}

.live-title .live-title-nav ul li {

}

.live-title .live-title-nav ul li a {
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    float: left;
}

.live-title .live-title-nav ul li a span {
    font-size: 14px;
    color: #fff;
    padding: 4px 7px 4px 7px;
    border-radius: 3px;
}

.live-title .live-title-nav ul li a.active span {
    background: #22b857;
}

.live-title .live-title-nav ul li a:hover {
    color: #22b857;
}

.live-title .live-title-nav ul li a.active:hover {
    color: #fff;
}

.live-title .live-title-nav .more {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    color: #fff;
    margin-right: 10px;
    height: 60px;
    line-height: 60px;
}

.live-title .live-title-nav .more:hover {
    color: #22b857;
}

.live-content {
    position: relative;
    background-color: rgba(50, 52, 58, 0.8);
}

.live-content .live-list {
    position: relative;
    float: left;
    overflow: hidden;
    background-color: rgba(50, 52, 58, 0.8);
}

.live-content .live-list li {
    float: left;
    position: relative;
    height: 185px;
    width: 218px;
    padding: 5px;
    margin-left: 10px;
}

.live-content .live-list li a {
    position: relative;
    width:100%;
    height:130px;
    display: block;
}

.live-content .live-list li a img {
    height: 130px;
    width: 100%;
    border-radius: 10px;
}

.live-content .live-list li a .live-mate {
    position: absolute;
    margin-bottom: 3px;
    bottom: 0px;
    width: 218px;
    height: 20px;;
}

.live-content .live-list li a .live-mate span {
    float: right;
    font-size: 13px;
    margin-right: 5px;
}

.live-content .live-list li h5 a {
    color: #dcdcdc;
    font-size: 14px;
    font-weight: normal;
}

.live-content .live-list li .live-info {
    color: #999;
    font-size: 13px;
}

.live-content .live-list li .live-info .live-anchor {
    float: left;
}

.live-content .live-list li .live-info .live-peoples {
    float: right;
}

.icon-anchor {
    background: url("../images/anchor.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: -3px;
    margin-right: 2px;
}

.icon-peoples {
    background: url("../images/peoples.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: -3px;
    margin-right: 2px;
}
.icon-v{
    display: none;
    position: absolute;
    left: 50%;
    margin-top: 15px;
    margin-left: -32.5px;
    top: 15px;
    width: 64px;
    height: 64px;
    background: url("../images/play.png") no-repeat 0 0;
    cursor: pointer;
}
.shadow2{
    display: none;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
/*首页直播结束*/
/*首页内容结束*/
